@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-lobster: var(--font-lobster);
  --font-spicy: var(--font-spicy);
  --font-rock: var(--font-rock);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  padding: 0px;
  margin: 0px;
}
